---
layout: default
---
<!-- Corousel -->
<div class="carousel carousel-slider center" data-indicators="true">
  <!--
  <div class="carousel-fixed-item center">
    <a class="btn waves-effect white grey-text darken-text-2">acceder</a>
  </div>
-->
  <div class="carousel-item red white-text" href="#one!">
    <h2>Novedades</h2>
    <p class="white-text">This is your first panel</p>
    <a class="btn waves-effect white grey-text darken-text-2" href="http://uaparty.ml/" style="margin-top: 180px;">acceder</a>
  </div>
  <div class="carousel-item amber white-text" href="#two!">
    <h2>Bares</h2>
    <p class="white-text">This is your second panel</p>
    <a class="btn waves-effect white grey-text darken-text-2" href="http://uaparty.ml/bares/" style="margin-top: 180px;">acceder</a>
  </div>
  <div class="carousel-item green white-text" href="#three!">
    <h2>Cócteles</h2>
    <p class="white-text">This is your third panel</p>
    <a class="btn waves-effect white grey-text darken-text-2" href="http://uaparty.ml/cocteles/" style="margin-top: 180px;">acceder</a>
  </div>
  <div class="carousel-item blue white-text" href="#four!">
    <h2>Juegos</h2>
    <p class="white-text">This is your fourth panel</p>
    <a class="btn waves-effect white grey-text darken-text-2" href="http://uaparty.ml/juegos/" style="margin-top: 180px;">acceder</a>
  </div>
</div>

<div class="container">
    <div class="group-article">
        <div class="row no-margin">
            <div class="col s12">
                <h2 class="blue-text center-align thin">Recent Post</h2>
                <div class="divider"></div>
            </div>
        </div>

        {% for post in paginator.posts %}
        <div class="row no-margin">
            <a class="waves-effect" href="{{ post.url | prepend: site.baseurl }}">
                <div class="col s12">
                    <div class="list-article">
                        <h4 class="blue-text thin">{{ post.title }}</h4>
                        <p class="grey-text text-darken-1 light">Published at {{ post.date | date: "%B %-d, %Y" }}.</p>
                        <article class="grey-text text-darken-2 post-content on-index light">
                                {{ post.excerpt | strip_html }}. .
                        </article>
                        <br/>
                    </div>
                    <div class="divider dashed"></div>
                </div>
            </a>
        </div>
        {% endfor %}

    </div>

    <div class="section">

        {% if paginator.total_pages > 1 %}
            <ul class="pagination center-align">

                {% if paginator.previous_page %}
                    <li class="waves-effect blue lighten-2"><a class="white-text" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a></li>
                {% else %}
                    <li class="waves-effect disabled blue lighten-2"><a class="white-text" href="#">&laquo; Prev</a></li>
                {% endif %}

                {% for page in (1..paginator.total_pages) %}
                    {% if page == paginator.page %}
                        <li class="waves-effect active blue"><a href="#">{{ page }}</a></li>
                    {% elsif page == 1 %}
                        <li class="waves-effect blue lighten-2"><a class="white-text" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
                    {% else %}
                        <li class="waves-effect blue lighten-2"><a class="white-text" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if paginator.next_page %}
                    <li class="waves-effect blue lighten-2"><a class="white-text" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a></li>
                {% else %}
                    <li class="waves-effect disabled blue lighten-2"><a class="white-text" href="#">Next &raquo;</a></li>
                {% endif %}

            </ul>
        {% endif %}

    </div>
</div>
