---
layout: default
---
<!-- Carousel -->
<div class="carousel carousel-slider center" data-indicators="true">
  <div id="car-one" class="carousel-item red white-text" href="#one!">
    <h2>Novedades</h2>
    <p class="white-text">Mantente informado</p>
    <a class="btn waves-effect white blue-grey-text darken-text-3" href="" style="margin-top: 180px;">acceder</a>
  </div>
  <div id="car-two" class="carousel-item amber white-text" href="#two!">
    <h2>Bares</h2>
    <p class="white-text">Descubre los mejores locales</p>
    <a class="btn waves-effect white blue-grey-text darken-text-3" href="/bares/" style="margin-top: 180px;">acceder</a>
  </div>
  <div id="car-three" class="carousel-item green white-text" href="#three!">
    <h2>Cócteles</h2>
    <p class="white-text">Sorprende con estas recetas</p>
    <a class="btn waves-effect white blue-grey-text darken-text-3" href="/cocteles/" style="margin-top: 180px;">acceder</a>
  </div>
  <div id="car-four" class="carousel-item blue white-text" href="#four!">
    <h2>Juegos</h2>
    <p class="white-text">Conoce nuevas formas de divertirte</p>
    <a class="btn waves-effect white blue-grey-text darken-text-3" href="/juegos/" style="margin-top: 180px;">acceder</a>
  </div>
</div>

<div class="container">
  <div class="group-article">
    <div class="row no-margin">
      <div class="col s12">
        <h2 class="blue-text center-align thin">Novedades</h2>
        <div class="divider marra-horizontala"></div>
      </div>
    </div>

    {% for post in paginator.posts %}
    <a href="{{ post.url | prepend: site.baseurl }}">
      <div class="row">
        <div class="col s12 m12">
          <div class="card waves-effect">
            <div class="img-wrap card-image" style="height:50%;max-height:300px;overflow:hidden;">
              <img src="{{ post.imageURL }}" alt="{{ post.title }}" class="borroso">
              <span class="card-title">{{ post.title }}</span>
            </div>
            <div class="card-content">
              <p class="grey-text text-darken-1 light fetxa-tarjeta">Publicado el {{ post.date | date: "%d/%m/%Y" }}.</p>
              <p class="grey-text text-darken-2 light">{{ post.excerpt | strip_html }}</p>
            </div>
            <div class="card-action">
              <a class="blue-text" href="{{ post.url | prepend: site.baseurl }}">Continuar leyendo</a>
            </div>
          </div>

        </div>
      </div>
    </a>
    {% endfor %}
  </div>

    <div class="section">

        {% if paginator.total_pages > 1 %}
            <ul class="pagination center-align">

                {% if paginator.previous_page %}
                    <li class="waves-effect blue lighten-2"><a class="white-text" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a></li>
                {% else %}
                    <li class="waves-effect disabled blue lighten-2"><a class="white-text" href="#">&laquo; Prev</a></li>
                {% endif %}

                {% for page in (1..paginator.total_pages) %}
                    {% if page == paginator.page %}
                        <li class="waves-effect active blue"><a href="#">{{ page }}</a></li>
                    {% elsif page == 1 %}
                        <li class="waves-effect blue lighten-2"><a class="white-text" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
                    {% else %}
                        <li class="waves-effect blue lighten-2"><a class="white-text" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if paginator.next_page %}
                    <li class="waves-effect blue lighten-2"><a class="white-text" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a></li>
                {% else %}
                    <li class="waves-effect disabled blue lighten-2"><a class="white-text" href="#">Next &raquo;</a></li>
                {% endif %}

            </ul>
        {% endif %}

    </div>
</div>
