---
# Transform Sass into css
---
@import "materialize";
@import "fontawesome";
@import "pygments";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}

hr {
  opacity: 0;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 80%;
}

.no-margin {
    margin: 0;
    &.__top {
        margin-top: 0;
    }
    &.__bottom {
        margin-bottom: 0;
    }
    &.__left {
        margin-left: 0;
    }
    &.__right {
        margin-right: 0;
    }
}
.divider {
  background: transparent;
  border-bottom: 2px solid rgba(0, 39, 59, 0.08);
  &.dashed {
    border-bottom: 8px dashed #A9A9A9;
    transform: scale(1,0.1);
    width: 50%;
    margin: auto;
  }
}
.group-article .row:last-child .divider{
  display: none
}
.card {
    border-radius: 0;
}
nav .brand-logo {
    position: absolute;
    color: #FFF;
    display: inline-block;
    font-size: 1.5rem;
    padding: 0px;
    padding-right: 10px;
    padding-left: 10px;
    white-space: nowrap;
}
article {
    padding: 10px;
    font-size: 1.35rem;
    line-height: 1.7;
    font-weight: 300;
    &.post-content {
      ul {
          margin-left: 20px;
      }
      h1, h2, h3, h4, h5, h6 {
          font-weight: 200;
      }
      li {
        list-style-type: disc;
      }
      &.on-index {
        padding:0;
        font-size: 17px;
        line-height: 1.5;
      }
    }
}
.list-article {
  padding: 20px;
}
footer.page-footer {
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 1.5;
  letter-spacing: -0.003em;
 }

 .imagen-destacada {
  float: none;
  margin: auto;
  padding: 25px 0px 15px 0px;
  max-width: 80%;

  /*float: left;
  padding: 15px 15px 10px 5px;
  max-width: 50%;*/
}

.fetxa-tarjeta {
  padding-bottom: 5px;
}

.img-wrap > img {
  //opacity: 0.9;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);

  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.margena-kendu {
  margin: 0 -15px;
  //Nabigaziokoa ezkerreta juteko
}

.marra-horizontala {
  max-width: 75%;
  margin: auto;
  margin-bottom: 5px;
}

.marra-cal {
  max-width: 75%;
  margin: auto;
  margin-bottom: 25px;
}

.cal-margin {
  margin: auto;
  margin-bottom: 25px;
}

.mobileko-menua {
  width: 250px;
}

.space-above {
  margin-top: 75px;
}

.paddig-sides {
  padding: 0 2%;
}

.container-carousel {
  margin: auto;
  max-width: 1920px;
}

/* Form Colours */

/* label color */
  .input-field label {
    color: #82b1ff;
  }
  /* label focus color */
  .input-field input[type]:focus + label {
    color: #448aff;
  }
  /* label underline focus color */
  .input-field input[type]:focus {
    border-bottom: 1px solid #448aff;
    box-shadow: 0 1px 0 0 #448aff;
  }

  /* textarea focus color */
  .input-field textarea[name]:focus + label {
    color: #448aff;
  }
  /* textarea underline focus color */
  .input-field textarea[name]:focus {
    border-bottom: 1px solid #448aff;
    box-shadow: 0 1px 0 0 #448aff;
  }

  /* icon prefix color*/
  .input-field .prefix {
    color: #82b1ff;
  }

  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #448aff;
  }


/* Responsive iFrame for the calendar */
.responsive-iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.responsive-iframe-container iframe,
.vresponsive-iframe-container object,
.vresponsive-iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#car-one {
  background: url(../img/novedades.jpg) no-repeat center;
  display: block;
}

#car-two {
  background: url(../img/bares.jpg) no-repeat center;
  display: block;
}

#car-three {
  background: url(../img/cocteles.jpg) no-repeat center;
  display: block;
}

#car-four {
  background: url(../img/juegos.jpg) no-repeat center;
  display: block;
}

//////////////////////////////////////////
// Google Icons /////////////////////////
/////////////////////////////////////////

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url({{ site.url }}/assets/fonts/materialicons/MaterialIcons-Regular.woff2) format('woff2'),
       url({{ site.url }}/assets/fonts/materialicons/MaterialIcons-Regular.woff) format('woff'),
       url({{ site.url }}/assets/fonts/materialicons/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

//////////////////////////////////////////
// Responsive design ////////////////////
/////////////////////////////////////////


/*@mixin column-count($ct) {
  -webkit-column-count: $ct;
  -moz-column-count: $ct;
  column-count: $ct;
}*/

.cards-container {
  column-break-inside: avoid;
  margin: auto;
  .card {
    display: inline-block;
    overflow: visible;
  }
}

@media #{$small-and-down} {
  .container {
    width: 75%;
  }
  .cards-container {
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
    .card {
      width: 100%;
    }
  }
}

@media #{$medium-and-up} {
  .container {
    width: 75%;
  }
  .containerespesial {
    width: 80%;
    margin: auto;
  }
  .cards-container {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
  }
}

@media #{$large-and-up} {
  .container {
    width: 60%;
  }
  .containerespesial {
    width: 70%;
    margin: auto;
  }
  .cards-container {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
  }
}
